.play1 {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom: 50%;
}

.play2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom: 50%;
}

.play3 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom: 50%;
  
}